<h1>Welcome#index</h1>
<% if signed_in? %>
  Hi, <%= current_user.name %>
<% else %>
  <%= loginza_button_tag("Login via OpenID", users_url) %>
<% end %>
<p>Find me in app/views/welcome/index.html.erb</p>
